.highlight {
    font-weight: bold;
    color: #ff416c;
}

.sectionSpacer {
    margin-top: 1rem;
}

.sectionHeadingContainer {
    display: flex;
    align-items: flex-start;
}

.sectionHeadingArrow {
    font-size: 1.5rem;
    color: #189ad3;
}

.sectionHeading {
    margin-left: 0.7rem;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}

.sectionContent {
    line-height: 1.7em;
}