.layoutContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    padding: 0 4rem 0 4rem;
    /* background-image: url(/src/img/blob.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; */
}

.self {
    margin: 0 auto;
}