.highlightedProject {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 2rem;
    margin-bottom: 10rem;
}

.projectDetails {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.projectDetailsTitle {
    font-size: 2rem;
    color: #eba747;
}

.projectDetailsText {
    color: #4f4f4f;
    line-height: 1.7em;
}

.projectDetailsButton {
    background-color: #f2b664;
    color: #604b2e;
    width: fit-content;
    padding: 0.5rem 0.75rem;
    margin-top: 1.2rem;
    border: none;
    border-radius: 8px;
    filter: drop-shadow(0px 1px 1px #604b2e);
    font-weight: bold;
    cursor: pointer;
}

.projectDetailsButtonIcon {
    margin-right: .3rem;
}

.container {
    position: relative;
    width: 250px;
    height: 250px;
    background-color: #204b41;
    border-radius: 10px;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    background-image: url('/src/img/basketball.jpg');
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.square {
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: #f2b664;
    border-radius: 10px;
    top: 10%;
    left: 15%;
    background-image:url('/src/img/detective.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.subProjectsTitle {
    font-size: 1.2rem;
    color: #5C748C;
    /* margin-left: 1.5rem; */
}

.subProjects {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 4rem;
}

.projectGrid {
    display: flex;
    gap: 2rem;
}

.projectCard {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    cursor: pointer;
}

.projectTitle {
    align-self: center;
    font-size: 1.1rem;
    color: #604b2e;
}

.featureSquare {
    width: 250px;
    height: 200px;
    background-color: gray;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: center;
}