.articleContainer {
    /* display: flex;
    flex-direction: column;
    gap: 3rem; */
    display: grid;
    grid-template-columns: 10rem auto 10rem;
    gap: 2rem;
    align-items: baseline;
    max-width: 1600px;
    margin: 0 auto;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.navContainer {
    justify-self: center;
}

.previousButton {
    width: fit-content;
    padding: 0.25rem 0.75rem;
    padding-bottom: 0.35rem;
    background-color: #faf7f0;
    border: 0.5px solid #a69575;
    border-radius: 4px;
    font-size: 1.5rem;
    color: #a69575;
    cursor: pointer;
}

.blogTitle {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}  

.blogDateTime {
    display: flex;
    font-size: 0.85rem;
    color: #a69575;
}

.blogDateTime p:not(:last-child)::after {
  margin: 0 .25rem;  
  content: '·'; 
  font-weight: bold;
}

.blogSectionTitle {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
}

.blogSectionContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: 1.7em;
    color: #4f4f4f;
}