.highlight {
    font-weight: bold;
    color: #ff416c;
}

.contactContainer {
    display: flex;
    gap: 2rem;
}

.information {
    display: flex;
    flex-direction: column;
}

.details {
    margin-bottom: 2rem;
}

.seeMore {
    line-height: 1.7em;
    color: #4f4f4f;
}