.headerContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 1rem;
}

.title {
    font-weight: bold;
    font-size: 2rem;
    color: #ff416c;
}

.description {
    font-weight: bold;
    font-size: 1.2rem;
}