a {
    text-decoration: none;
}

.sidebar {
    grid-column: 1;
    background-color: #189AD3;
    color: white;
    padding: 20px;
}

.sidebar a {
    color: #FFF;
}


nav {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 3rem;
}

li:hover {
    text-decoration: underline;
}