.contactFormContainer {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    margin-top: 1rem;
}

input, select, textarea {
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    font-weight: normal;
    width: 100%;
}

.identification {
    display: flex;
    gap: 1.25rem;
}

.identificationChild {
    flex: 1;
}

.identificationChild:last-child {
    flex: 2;
} 

.autoHeightTextarea {
    resize: none;
    overflow-y: hidden;
    height: 1.85rem;
}

.innerLabel {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    color: #aeb4ba;
    font-weight: bold;
    cursor: text;
    transition: .3s ease-in-out;
}

.innerSelect {
    cursor: default;
}

.innerTextarea {
    height: 1.85rem;
}

.innerInput {
    width: 100%;
}

.innerInput:focus + label,
.innerInput:valid + label {
    font-size: .75rem;
    top: -25px;
    pointer-events: none;
}

.innerInput:valid {
    border-bottom: 2px solid #00684a;
}

.innerInput:valid + label {
    color: #00684a;
}

.innerInput.touched:invalid {
    border-bottom: 2px solid #EF5350;
}

.innerInput.touched:invalid + label {
    color: #EF5350;
}

.fieldHolder {
    position: relative;
    margin-bottom: 1.25rem;
}

.displayNone {
    display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
    background-color: transparent !important;
}

.confirmationContainer {
    display: flex;
    gap: 0.75rem;
    margin: 0 auto;
}

.confirmationMessage {
    text-align: center;
    font-size: 1.2rem;
    color: #4f4f4f;
    display: inline;
}

.confirmationMessage strong {
    color: #00684a;
}
