.contactFormContainer {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    margin-top: 1rem;
}

input, select, textarea {
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    font-weight: normal;
    width: 100%;
}

label {
    color: #aeb4ba;
    font-weight: bold;
}

.identification {
    display: flex;
    gap: 1.25rem;
}

.identificationChild {
    flex: 1;
}

.identificationChild:last-child {
    flex: 2;
} 

.innerLabel {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    cursor: text;
    transition: .3s ease-in-out;
}

.innerInput {
    width: 100%;
}

.innerInput:focus + label,
.innerInput:valid + label {
    color: #ff416c;
    font-size: .75rem;
    top: -25px;
    pointer-events: none;
}

.innerInput:focus,
.innerInput:valid {
    border-bottom: 2px solid #ff416c;
}

.fieldHolder {
    position: relative;
    margin-bottom: 1.25rem;
}

.displayNone {
    display: none;
}