.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signature {
    font-family: "Euphoria Script", cursive;
    font-size: 3rem;
    padding-bottom: 0.5rem;
}

.button {
    width: fit-content;
    padding: 0.3rem 2rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
    color: #fff;
    cursor: pointer;
}

.enabled {
    filter: drop-shadow(0px 1px 1px #4f4f4f);
    background-color: #ff416c;
}

.disabled {
    background-color: #f19cbb;
    cursor: none;
}

.button:hover {
    background-color: #f19cbb;
}

.button:active {
    filter: none;
}