.socialMediaContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: flex-start;
    gap: 1.5rem;
    padding-top: 2rem;
    color: #4f4f4f;
}

.socialMediaContainer a {
    color: inherit;
}

.socialMediaContainer i {
    cursor: pointer;
}

.socialMediaContainer i:hover {
    color: black;
}