.highlight {
    font-weight: bold;
    color: #ff416c;
}

.skillsContainer {
    display: flex;
    gap: 2rem;
}

.information {
    display: flex;
    flex-direction: column;
}

.spacer {
  margin: 0.5rem 0 1.5rem 0;
}

.details {
  color: #4f4f4f;
}

.buttonSectionLabel {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: normal;
}

.buttonSectionLabel:last-of-type {
  margin-top: 0.5rem;
}

.buttonSectionSplit {
  border-color: #FAFAFA;
  margin: 1rem 0;
}

.buttonList {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: .25rem;
}

.buttonList:last-of-type {
  margin-bottom: 1rem;
}

.personaContainer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.personaContainer svg {
  margin-left: 1rem;
  cursor: pointer;
}

.skillButton {
  display: flex;
  align-items: center;
  gap: .5rem;
  border: none;
  padding: 5px 16px;
  margin: 5px;
  background-color: #e5ecec;
  color: #778787;
  font-weight: bold;
  font-size: 0.75rem;
  border-radius: 20px 20px 2px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-transform: capitalize;
}

.selected {
  background-color: #d3f2e4;
  color: #1b835e;
  font-size: 0.85rem;
}

.skillButton:hover {
  background-color: #d3f2e4;
  color: #1b835e;
}

.skillsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem; 
  margin-top: 2rem;
}

.skillHeadingContainer {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}

.skillHeading {
  color: #3d5268;
  font-weight: bold;
  font-size: 1.15rem;
  margin-bottom: 0.5rem;
}

.skillHeadingContainer svg {
  transform: translate(0, 10%);
}

.skillList {
  color: #3d5268;
  list-style-type: '- ';
}

.skillList li {
  margin-bottom: 0.5rem;
}

.skillList li:last-of-type {
  margin-bottom: 0;
} 
