.highlight {
    font-weight: bold;
    color: #ff416c;
}

.buttonList {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: .25rem;
}

.buttonList:last-of-type {
  margin-bottom: 1rem;
}

.skillButton {
  display: flex;
  align-items: center;
  gap: .5rem;
  border: none;
  padding: 5px 16px;
  margin: 5px;
  background-color: #e5ecec;
  color: #778787;
  font-weight: bold;
  font-size: 0.75rem;
  border-radius: 20px 20px 2px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.selected {
  background-color: #d3f2e4;
  color: #1b835e;
  font-size: 0.85rem;
}

.skillButton:hover {
  background-color: #d3f2e4;
  color: #1b835e;
}

.skillsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px; 
}