.highlight {
    font-weight: bold;
    color: #ff416c;
}

.skillsContainer {
    display: flex;
    gap: 2rem;
}

.information {
    display: flex;
    flex-direction: column;
}

.spacer {
  margin: 0rem 0 1.5rem 0;
  color:#4f4f4f;
}

.buttonList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: .25rem;
}

.buttonList:not(:only-of-type):last-of-type {
  margin-bottom: 1rem;
}

.identifier {
  color: #5C748C;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-decoration: underline;
}

.personaExperienceContainer {
  display: flex;
  margin-top: 1.5rem;
}

.personaContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  margin-bottom: 2.5rem;
}

.experienceContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.skillButton {
  display: flex;
  align-items: center;
  gap: .5rem;
  border: none;
  padding: 5px 16px;
  margin: 5px;
  background-color: #FFF;
  color: #778787;
  font-weight: bold;
  font-size: 0.85rem;
  cursor: pointer;
  text-transform: capitalize;
  height: 1.9rem;
}

.skillButton:hover {
  font-size: 1rem;
}

.selected {
  color: #1b835e;
  font-size: 1rem;
  font-weight: bold;
}

.skillButtonDescription {
  text-align: center;
  font-size: .9rem;
  margin: .1rem 0 .5rem;
  color: #4f4f4f;
}

.activityCotainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* padding: 2rem; */
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;

  /* background:
    linear-gradient(to right, #189ad3 4px, transparent 4px) 0 0,
    linear-gradient(to right, #ff416c 4px, transparent 4px) 0 100%,
    linear-gradient(to left, #ff416c 4px, transparent 4px) 100% 0,
    linear-gradient(to left, #189ad3 4px, transparent 4px) 100% 100%,
    linear-gradient(to bottom, #189ad3 4px, transparent 4px) 0 0,
    linear-gradient(to bottom, #ff416c 4px, transparent 4px) 100% 0,
    linear-gradient(to top, #ff416c 4px, transparent 4px) 0 100%,
    linear-gradient(to top, #189ad3 4px, transparent 4px) 100% 100%;

  background-repeat: no-repeat;
  background-size: 20px 20px; */
}

.experienceDescription {
  color: #4f4f4f;
  line-height: 1.7em;
}

.experienceHeading {
  color: #5C748C;
}