.navItem {
    display: flex;
    align-items: center;
    margin-top: 2.75rem;
    padding: .4rem .5rem;
    margin-right: -1.4rem;
    border-radius: 1.25rem 0 0 1.25rem;
    cursor: pointer;
}

.navItemIcon {
    width: 1.6rem;
    font-size: initial;
}

.selected {
    background-color: #FFF;
    color: #189AD3;
    font-weight: bold;
}

.activeNavItem, .navItem:hover {
    background-color: #FFF;
    color: #189AD3;
    font-weight: bold;
}